:root {
  --ifm-color-primary: rgb(44, 143, 230);
  --ifm-color-primary-dark: rgb(24, 131, 223);
  --ifm-color-primary-darker: rgb(14, 124, 220);
  --ifm-color-primary-darkest: rgb(4, 118, 217);
  --ifm-color-primary-light: rgb(63, 156, 236);
  --ifm-color-primary-lighter: rgb(93, 174, 246);
  --ifm-color-primary-lightest: rgb(113, 187, 252);
  --ifm-code-font-size: 95%;
}
